@model Recycling.Domain.Models.User


@{
    ViewBag.Title = "Warning";
}



<div>
    <h3>You don't have the permission to conduct the following action</h3>

</div>

<div>
    @Html.ActionLink("Back to Homepage", "Index", "Home" , null , null)
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

